# Windows system files
Thumbs.db
ehthumbs.db
Desktop.ini

# Local data directories
.data/
pgdata/

# IDE / Editor configuration folders
.vscode/
.idea/

# Environment files containing passwords
.env
*.local

/generated/prisma

# Node modules
node_modules/
